<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">All Patients</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/site.css" th:href="@{/css/site.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container">
        <br/>
        <h1>Вашите пациенти</h1>
        <br/>
        <div id="searchPatint" class="form-inline mt-2 mt-md-0">
            <input id="searchBox" class="form-control mr-sm-2" placeholder="ЕГН" type="text"/>
            <button onclick="search()" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Търси</button>
        </div>
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th>ЕГН</th>
                <th>Име</th>
                <th>Фамилия</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="patientsList">

            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/search-patient-form.js}"></script>

</body>
</html>