<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Patients</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/site.css" th:href="@{/css/site.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container">
        <br/>
        <h1>Всички пациенти</h1>
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th>ЕГН</th>
                <th>Име</th>
                <th>Фамилия</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="basicPatientViewModel : ${basicPatientViewModels}" th:object="${basicPatientViewModel}">
                <td th:text="*{egn}">ЕГН</td>
                <td th:text="*{firstName}">Име</td>
                <td th:text="*{lastName}">Фамилия</td>
                <td>
                    <a class="btn btn-warning" th:href="|/patients/edit/*{id}|">Редактирай</a>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="|/patients/delete/*{id}|">Изтрий</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>