<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<form method="post" th:fragment="add-form" th:object="${addPatientBindingModel}">
    <div class="form-group" th:classappend="${#fields.hasErrors('egn')}? 'has-danger'">
        <label for="egnId">Единен Граждански Номер (ЕГН)</label>
        <input type="text" class="form-control" id="egnId" aria-describedby="egnHelp" name="egn" th:field="*{egn}"/>
        <small id="egnHelp" class="form-control-feedback" th:each="error : ${#fields.errors('egn')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-danger'">
        <label for="firstName">Име</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" name="firstName" th:field="*{firstName}"/>
        <small id="firstNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-danger'">
        <label for="surname">Презиме</label>
        <input type="text" class="form-control" id="surname" aria-describedby="surnameHelp" name="surname" th:field="*{surname}"/>
        <small id="surnameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('surname')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-danger'">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" name="lastName" th:field="*{lastName}"/>
        <small id="lastNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('rzokNumber')}? 'has-danger'">
        <label for="rzokNumberId">РЗОК No.</label>
        <input type="text" class="form-control" id="rzokNumberId" aria-describedby="rzokNumberHelp" name="rzokNumber" th:field="*{rzokNumber}"/>
        <small id="rzokNumberHelp" class="form-control-feedback" th:each="error : ${#fields.errors('rzokNumber')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('healthService')}? 'has-danger'">
        <label for="healthServiceId">Здравен Район</label>
        <input type="text" class="form-control" id="healthServiceId" aria-describedby="healthServiceHelp" name="healthService" th:field="*{healthService}"/>
        <small id="healthServiceHelp" class="form-control-feedback" th:each="error : ${#fields.errors('healthService')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('town')}? 'has-danger'">
        <label for="townId">Град/Село</label>
        <input type="text" class="form-control" id="townId" aria-describedby="townHelp" name="town" th:field="*{town}"/>
        <small id="townHelp" class="form-control-feedback" th:each="error : ${#fields.errors('town')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('address')}? 'has-danger'">
        <label for="addressId">Адрес</label>
        <input type="text" class="form-control" id="addressId" aria-describedby="addressHelp" name="address" th:field="*{address}"/>
        <small id="addressHelp" class="form-control-feedback" th:each="error : ${#fields.errors('address')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('gp')}? 'has-danger'">
        <label for="gpId">Личен лекар</label>
        <input type="text" class="form-control" id="gpId" aria-describedby="gpHelp" name="gp" th:field="*{gp}"/>
        <small id="gpHelp" class="form-control-feedback" th:each="error : ${#fields.errors('gp')}" th:text="${error}">Error Message</small>
    </div>

    <button type="submit" class="btn btn-success">Запази</button>
    <a class="btn btn-warning" th:href="|/patients|">Откажи</a>
</form>

<form method="post" th:fragment="edit-form" th:object="${editPatientBindingModel}">

    <div class="form-group" th:classappend="${#fields.hasErrors('egn')}? 'has-danger'">
        <label for="egnId">Единен Граждански Номер (ЕГН)</label>
        <input  type="text" disabled="disabled" class="form-control" id="egnId" aria-describedby="egnHelp" name="egn" th:field="*{egn}"/>
        <small id="egnHelp" class="form-control-feedback" th:each="error : ${#fields.errors('egn')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-danger'">
        <label for="firstName">Име</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" name="firstName" th:field="*{firstName}"/>
        <small id="firstNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-danger'">
        <label for="surname">Презиме</label>
        <input type="text" class="form-control" id="surname" aria-describedby="surnameHelp" name="surname" th:field="*{surname}"/>
        <small id="surnameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('surname')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-danger'">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" name="lastName" th:field="*{lastName}"/>
        <small id="lastNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('rzokNumber')}? 'has-danger'">
        <label for="rzokNumberId">РЗОК No.</label>
        <input type="text" class="form-control" id="rzokNumberId" aria-describedby="rzokNumberHelp" name="rzokNumber" th:field="*{rzokNumber}"/>
        <small id="rzokNumberHelp" class="form-control-feedback" th:each="error : ${#fields.errors('rzokNumber')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('healthService')}? 'has-danger'">
        <label for="healthServiceId">Здравен Район</label>
        <input type="text" class="form-control" id="healthServiceId" aria-describedby="healthServiceHelp" name="healthService" th:field="*{healthService}"/>
        <small id="healthServiceHelp" class="form-control-feedback" th:each="error : ${#fields.errors('healthService')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('town')}? 'has-danger'">
        <label for="townId">Град/Село</label>
        <input type="text" class="form-control" id="townId" aria-describedby="townHelp" name="town" th:field="*{town}"/>
        <small id="townHelp" class="form-control-feedback" th:each="error : ${#fields.errors('town')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('address')}? 'has-danger'">
        <label for="addressId">Адрес</label>
        <input type="text" class="form-control" id="addressId" aria-describedby="addressHelp" name="address" th:field="*{address}"/>
        <small id="addressHelp" class="form-control-feedback" th:each="error : ${#fields.errors('address')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('gp')}? 'has-danger'">
        <label for="gpId">Личен лекар</label>
        <input type="text" class="form-control" id="gpId" aria-describedby="gpHelp" name="gp" th:field="*{gp}"/>
        <small id="gpHelp" class="form-control-feedback" th:each="error : ${#fields.errors('gp')}" th:text="${error}">Error Message</small>
    </div>

    <button type="submit" class="btn btn-success">Запази</button>
    <a class="btn btn-warning" th:href="|/patients|">Откажи</a>
</form>

<form method="post" th:fragment="search-form" th:object="${searchPatientBindingModel}">
    <div class="form-group" th:classappend="${#fields.hasErrors('egn')}? 'has-danger'">
        <label for="egnId">Единен Граждански Номер (ЕГН)</label>
        <input type="text" class="form-control" id="egnId" aria-describedby="egnHelp" name="egn" th:field="*{egn}"/>
        <small><div id="egnHelp" class="form-control-feedback" th:each="error : ${#fields.errors('egn')}" th:text="${error}">Error Message</div></small>
    </div>

    <button type="submit" class="btn btn-success">Търси</button>
    <a class="btn btn-warning" th:href="|/patients|">Откажи</a>
</form>

</body>
</html>