<table cellspacing="0" cellpadding="0" border="1" width="859">
    <tbody>
        <tr>
            <td colspan="10" width="859">
                <p>
                    <strong>
                        ПРОТОКОЛ ЗА ПРЕДПИСВАНЕ НА ЛЕКАРСТВА, ЗАПЛАЩАНИ ОТ НЗОК/РЗОК
                    </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    No.
                </p>
            </td>
            <td colspan="2" width="186">
            </td>
            <td colspan="2" width="91">
                <p>
                    Дата на издаване
                </p>
            </td>
            <td colspan="2" width="124">
            </td>
            <td width="94">
                <p>
                    За срок<br/>(брой дни)
                </p>
            </td>
            <td colspan="2" width="255">
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    <strong>ЛЕКАР</strong>
                </p>
            </td>
            <td colspan="9" width="750">
                <p>
                    Име Фамилия
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p align="center">
                    Код
                </p>
            </td>
            <td colspan="9" width="750">
                <p>
                    УИН
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p align="center">
                    (код специалност)
                </p>
            </td>
            <td colspan="9" width="750">
                <p>
                    (УИН)
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    <strong>ПАЦИЕНТ</strong>
                </p>
            </td>
            <td colspan="9" width="750">
                <p>
                    (име п фам)
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    РЗОК No.
                </p>
            </td>
            <td colspan="2" width="186">
            </td>
            <td colspan="2" width="91">
                <p>
                    Здравен район
                </p>
            </td>
            <td colspan="2" width="124">
            </td>
            <td width="94">
                <p>
                    ЕГН
                </p>
            </td>
            <td colspan="2" width="255">
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    Адрес:
                </p>
            </td>
            <td colspan="9" width="750">
                <p>
                    град адрес - въведи
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="10" width="859">
                <p>
                    <strong>КЛИНИЧНА ДИАГНОЗА</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="8" width="604">
                <p>
                    Име на заболяването
                </p>
            </td>
            <td width="65">
                <p>
                    МКБ
                </p>
            </td>
            <td width="191">
                <p>
                    код - въведи
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="10" width="859">
                <p>
                    УТОЧНЕНА ТЕРАПИЯ  (вид, схема и срок на лечение)
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    Код НЗОК
                </p>
            </td>
            <td width="83">
                <p>
                    код - въведи
                </p>
            </td>
            <td colspan="2" width="119">
                <p>
                    Доза
                </p>
            </td>
            <td colspan="2" width="119">
                <p>
                    доза -въведи
                </p>
            </td>
            <td colspan="4" width="429">
                <p>
                    име лекарство - въведи
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    Код НЗОК
                </p>
            </td>
            <td width="83">
                <p>
                    код - въведи
                </p>
            </td>
            <td colspan="2" width="119">
                <p>
                    Доза
                </p>
            </td>
            <td colspan="2" width="119">
                <p>
                    доза -въведи
                </p>
            </td>
            <td colspan="4" width="429">
                <p>
                    име лекарство - въведи
                </p>
            </td>
        </tr>
        <tr>
            <td width="109">
                <p>
                    Код НЗОК
                </p>
            </td>
            <td width="83">
                <p>
                    код - въведи
                </p>
            </td>
            <td colspan="2" width="119">
                <p>
                    Доза
                </p>
            </td>
            <td colspan="2" width="119">
                <p>
                    доза -въведи
                </p>
            </td>
            <td colspan="4" width="429">
                <p>
                    име лекарство - въведи
                </p>
            </td>
        </tr>
    </tbody>
</table>
