<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<form method="post" th:fragment="register-form" th:object="${registerDoctorBindingModel}" enctype="multipart/form-data">

    <div class="form-group" th:classappend="${#fields.hasErrors('uin')}? 'has-danger'">
        <label for="uinId">УИН</label>
        <input type="text" class="form-control" id="uinId" aria-describedby="uinHelp" name="uin" th:field="*{uin}"/>
        <small id="uinHelp" class="form-control-feedback" th:each="error : ${#fields.errors('uin')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-danger'">
        <label for="firstName">Име</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" name="firstName" th:field="*{firstName}"/>
        <small id="firstNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-danger'">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" name="lastName" th:field="*{lastName}"/>
        <small id="lastNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Error Message</small>
    </div>

    <fieldset class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-danger'">
        <label for="titleId">Изберете титла:</label>
        <div class="form-check" th:each="title,iter : ${titles}">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" id="titleId" th:value="${title.getName()}" th:field="*{title}"/>
                <span th:text="${title.getName()}"></span>
            </label>
        </div>
        <small id="titleHelp" class="form-control-feedback" th:each="error : ${#fields.errors('title')}" th:text="${error}">Error Message</small>
    </fieldset>

    <div class="form-group" th:classappend="${#fields.hasErrors('specialities')}? 'has-danger'">
        <label for="specialitiesId">Изберете специалност(и)</label>
        <select multiple="true" class="form-control" id="specialitiesId" name="specialities" th:field="*{specialities}">
            <option th:each="speciality : ${specialities}" th:value="${speciality.name}" th:text="${speciality.name}">Option 1</option>
        </select>
        <small id="capHelp" class="form-control-feedback" th:each="error : ${#fields.errors('specialities')}" th:text="${error}">Error Message</small>
    </div>

    <!--<div class="form-group">-->
        <!--<label >Изберете профилна снимка</label>-->
        <!--<div>-->
            <!--<input type="file" class="btn btn-primary" name="file"/>-->
        <!--</div>-->
    <!--</div>-->

    <!--<label class="custom-file">-->
        <!--<input type="file" id="file" class="custom-file-input"/>-->
        <!--<span class="custom-file-control"></span>-->
    <!--</label>-->

    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-danger'">
        <label class="form-control-label" for="inputUsername">Имейл адрес</label>
        <input type="text" class="form-control form-control-danger" id="inputUsername" th:field="*{email}"/>
        <div class="form-control-feedback" th:each="error : ${#fields.errors('email')}" th:text="${error}">Sorry, that email's taken. Try another?</div>
    </div>
    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-danger'">
        <label class="form-control-label" for="inputPassword">Парола</label>
        <input type="password" class="form-control form-control-danger" id="inputPassword"  autocomplete="off" th:field="*{password}"/>
        <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}">Sorry, that password is incorrect?</div>
    </div>
    <div class="form-group" th:classappend="${#fields.hasErrors('global')} ? 'has-danger'">
        <label class="form-control-label" for="inputConfirmPassword">Повтори парола</label>
        <input type="password" class="form-control form-control-danger" id="inputConfirmPassword" autocomplete="off" th:field="*{confirmPassword}"/>
        <div class="form-control-feedback" th:each="error : ${#fields.errors('global')}" th:text="${error}">Sorry, passwords are not matching?</div>
    </div>
    <button type="submit" class="btn btn-success">Запази</button>
    <a class="btn btn-warning" th:href="|/|">Откажи</a>
</form>

<form method="post" th:fragment="edit-form" th:object="${editDoctorBindingModel}">

    <div class="form-group" th:classappend="${#fields.hasErrors('uin')}? 'has-danger'">
        <label for="uinIdEdit">УИН</label>
        <input type="text" class="form-control" id="uinIdEdit" aria-describedby="uinHelpEdit" name="uin" th:field="*{uin}"/>
        <small id="uinHelpEdit" class="form-control-feedback" th:each="error : ${#fields.errors('uin')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-danger'">
        <label for="firstName">Име</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" name="firstName" th:field="*{firstName}"/>
        <small id="firstNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Error Message</small>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-danger'">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" name="lastName" th:field="*{lastName}"/>
        <small id="lastNameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Error Message</small>
    </div>

    <fieldset class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-danger'">
        <label for="titleId">Титла:</label>
        <div class="form-check" th:each="title,iter : ${titles}">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" id="titleId" th:value="${title.getName()}" th:field="*{title}"/>
                <span th:text="${title.getName()}"></span>
            </label>
        </div>
        <small id="titleHelp" class="form-control-feedback" th:each="error : ${#fields.errors('title')}" th:text="${error}">Error Message</small>
    </fieldset>

    <div class="form-group" th:classappend="${#fields.hasErrors('specialities')}? 'has-danger'">
        <label for="specialitiesId">Специалност(и)</label>
        <select multiple="true" class="form-control" id="specialitiesId" name="specialities" th:field="*{specialities}">
            <option th:each="speciality : ${specialities}" th:value="${speciality.name}" th:text="${speciality.name}">Option 1</option>
        </select>
        <small id="capHelp" class="form-control-feedback" th:each="error : ${#fields.errors('specialities')}" th:text="${error}">Error Message</small>
    </div>

    <!--<div class="form-group" th:classappend="${#fields.hasErrors('profileImage')}? 'has-danger'">-->
        <!--<label for="imageId">Профилна снимка</label>-->
        <!--<input type="file" accept="image/*" class="form-control-file" id="imageId" aria-describedby="imageHelp" name="profileImage" th:field="*{profileImage}"/>-->
        <!--<small id="imageHelp" class="form-control-feedback" th:each="error : ${#fields.errors('profileImage')}" th:text="${error}">Error Message</small>-->
    <!--</div>-->

    <button type="submit" class="btn btn-success">Запази</button>
    <a class="btn btn-warning" th:href="|/|">Откажи</a>
</form>

<form method="post" th:fragment="login-form" th:object="${registerDoctorBindingModel}">
    <div style="color: red" th:if="${error} != null" th:text="${error}"></div>
    <form method="post">
        <div class="form-group">
            <label class="form-control-label" for="inputEmail">Имейл адрес</label>
            <input type="email" class="form-control form-control-danger" id="inputEmail" name="email"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="inputLoginPassword">Парола</label>
            <input type="password" class="form-control form-control-danger" id="inputLoginPassword" name="password"/>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="rememberMe"/>
                <span id="rememberMe">Запомни ме</span>
            </label>
        </div>
        <input type="submit" class="btn btn-success" value="Вход"/>
    </form>
</form>

</body>
</html>