.container {
    color: #385d9e;
}

.form-check-label{
    color: black;
}

h1{
    color: #449d44;
}

#rememberMe{
    color: #385d9e;
}

th{
    color: #eb9316;
}

#add-medicine-form input{
    width: 50%;
}

#add-medicine-form label{
    display: block;
}

.doze-input{
    margin-bottom: 20px;
}

.doze-input input{
    display: inline;
}